@use 'mixins/mixins.scss' as *;

.#{$namespace}-icon-loading {
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@include b(icon) {
    display: inline-flex;
    height: 1em;
    width: 1em;
    line-height: 1em;
    vertical-align: middle;
    justify-content: center;
    position: relative;
    fill: currentColor;

    svg {
        height: 1em;
        width: 1em;
    }
}
