@use 'mixins/mixins.scss' as *;

@include b(tree) {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: default;
}

@include b(tree-node) {
    position: relative;
    padding-bottom: 5px;
    height: 24px;
    display: flex;
    outline: none;

    @include e('expand-icon') {
        display: inline-block;
        width: 24px;
        text-align: center;
        cursor: pointer;

        &.expanded {
            .#{$namespace}-tree-node__switcher {
                transform: rotate(90deg);
            }
        }

        .#{$namespace}-tree-node__switcher {
            transition: transform 0.3s ease-in-out;
        }

        &.is-leaf {
            color: transparent;
            cursor: default;
            visibility: hidden;
        }
    }

    @include e('content') {
        padding: 0 5px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}
