@use 'mixins/mixins' as *;
@use 'mixins/function.scss' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@mixin upload-success($color: null) {
    right: -15px;
    top: -6px;
    width: 40px;
    height: 24px;
    background: getCssVar('color-success');
    text-align: center;
    transform: rotate(45deg);

    i {
        font-size: 12px;
        margin-top: 11px;
        transform: rotate(-45deg);
        color: $color;
    }
}

@include b(upload) {
    @include set-component-css-var('upload', $upload);
}

@include b(upload) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;

    @include e(input) {
        display: none;
    }

    @include b(upload-dragger) {
        padding: getCssVar('upload-dragger-padding-horizontal')
            getCssVar('upload-dragger-padding-vertical');
        background-color: getCssVar('fill-color', 'blank');
        border: 1px dashed getCssVar('border-color');
        border-radius: 6px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        .#{bem('icon', '', 'upload')} {
            font-size: 67px;
            color: getCssVar('text-color', 'placeholder');
            margin-bottom: 16px;
            line-height: 50px;
        }

        + .#{bem('upload', 'tip')} {
            text-align: center;
        }

        ~ .#{bem('upload', 'files')} {
            border-top: getCssVar('border');
            margin-top: 7px;
            padding-top: 5px;
        }

        .#{bem('upload', 'text')} {
            color: getCssVar('text-color', 'regular');
            font-size: 14px;
            text-align: center;

            em {
                color: getCssVar('color-primary');
                font-style: normal;
            }
        }

        &:hover {
            border-color: getCssVar('color-primary');
        }

        @include when(dragover) {
            background-color: getCssVar('color', 'primary', 'light-9');
            border: 1px dashed getCssVar('color-primary');
        }
    }
}
